<h3>以下の内容で投稿しますか？</h3>

<%= form_with(model: @record, local: true, url: choose_new_or_edit) do |form| %>
  <%= form.hidden_field :content %>

  <p>本文　<%= @record.content %></p>
  <%= form.submit  "投稿する" %>
<% end %>
